* {
    margin: 0;
    padding: 0;
}

:root {
    /* Font */
    font-family: 'Rubik', sans-serif;
    font-size: 1.125rem;
    /* 18px */

    /* Primary */
    --soft-blue: hsl(231, 69%, 60%);
    --soft-red: hsl(0, 94%, 66%);

    /* Secondary */
    --red: hsl(0, 87%, 67%);

    /*Neutral */
    --grayish-blue: hsl(229, 8%, 60%);
    --very-dark-blue: hsl(229, 31%, 21%);
}

.logo {
    width: 60px;
    height: 20px;
}

@media (min-width: 768px) {
    .logo {
        width: 121px;
        height: 33px;
    }

}

.nav-link {
    color: var(--very-dark-blue) !important;
}

.nav-link:focus,
.nav-link:hover {
    color: var(--red) !important;
}

.header__nav {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
}

.main-btn {
    background-color: var(--soft-red);
    color: white;
}

.main-btn:hover {
    background-color: white;
    color: var(--soft-red);
    border: 1px solid var(--soft-red);
}